modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 18231
externalPort = 3000

[[ports]]
localPort = 18232
externalPort = 3002

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_PWD_HASH = "$2b$12$MHRHv7pK7Yy.Gibdlnh19eX4k4NXxthWzk4Aru4sUY5nYb87ZN4jC"

[userenv.development]
FRONTEND_URL = "https://c30bff6a-bc29-46e3-927d-5e0d278b8526-00-31dlq9020v1iv.riker.replit.dev"
